<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Register Customer</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Register Customer</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">All Saccos</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>

            <div class="alert alert-info alert-dismissible" th:style="${param.message} ? 'display:block' : 'display:none'">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>
                    <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
                    </strong>
            </div>
        </div>
        <form  action="#" th:action="@{/createCustomer}" th:object="${customer}"  role="form" method="post">
            <div class="box-body">
                <input type="hidden"/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">FirstName</label>
                            <input type="text" required="true"  th:field="*{firstName}" class="form-control" id="firstname"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">LastName</label>
                            <input type="text" required="true" th:field="*{lastName}" class="form-control" id="lastname"/>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="secondName">Second Name</label>
                            <input type="text" required="true" th:field="*{secondName}" class="form-control" id="secondName"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email"  th:field="*{email}" class="form-control" id="email"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nationalId">National Id</label>
                            <input type="text" required="true" th:field="*{nationalId}" class="form-control" id="nationalId"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" required="true" th:field="*{phoneNumber}" class="form-control" id="phoneNumber"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="advanceLimit">Advance Limit</label>
                            <input type="number"  th:field="*{advanceLimit}" class="form-control" id="advanceLimit"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="withdrawalLimit">Withdrawal Limit</label>
                            <input type="number"  th:field="*{withdrawalLimit}" class="form-control" id="withdrawalLimit"/>
                        </div>
                    </div>

                </div>


            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Register Customer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
