<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Dashboard</title>
    <script src="/js/createUser.js"></script>
</head>
<body>
<section layout:fragment="header">
    <h1>Create User</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"></li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Create System Users</h3>
            <div class="box-tools pull-right">
<!--                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>-->
            </div>
        </div>
        <form data-toggle="validator" action="#"  id="RegisterUserForm" role="form" method="post">
            <div class="box-body">
                <input type="hidden"/>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" required="true"  class="form-control" name="firstName" id="firstName"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" required="true"  name="lastName" class="form-control" id="lastName"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email"> E-mail</label>
                            <input type="email" required="true" name="email" class="form-control" id="email"/>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nationalId">National Id</label>
                            <input type="text" required="true" name="nationalId" class="form-control" id="nationalId"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="number" required="true"  name="phoneNumber" class="form-control" id="phoneNumber"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="passportNo">Passport No</label>
                            <input type="text" required="true" name="passportNo" class="form-control" id="passportNo"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isActive">Active</label>
                            <select class="form-control" id="isActive"  name="isActive">
                                <option value="">--Select--</option>
                                <option th:value="'true'" th:text="True"></option>
                                <option th:value="'false'" th:text="False"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isStaff">Staff</label>
                            <select class="form-control" id="isStaff"   name="isStaff">
                                <option value="">--Select--</option>
                                <option th:value="'true'" th:text="True"></option>
                                <option th:value="'false'" th:text="False"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isSuperuser">Superuser</label>
                            <select class="form-control" id="isSuperuser"  name="isSuperuser">
                                <option value="">--Select--</option>
                                <option th:value="'true'" th:text="True"></option>
                                <option th:value="'false'" th:text="False"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="roleName">Role Name</label>
                            <select class="form-control" id="roleName"  name="roleName">
                                <option value="">--Select--</option>
                                <option th:value="'SUPER_ADMIN'" th:text="SUPER_ADMIN"></option>
                                <option th:value="'API_USER'" th:text="API_USER"></option>
                                <option th:value="'LANSTAR_ADMIN'" th:text="LANSTAR_ADMIN"></option>
                                <option th:value="'SACCO_ADMIN'" th:text="SACCO_ADMIN"></option>
                                <option th:value="'SACCO_USER'" th:text="SACCO_USER"></option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <button type="button" id="RegisterUserFormSUbmit" class="btn btn-primary">
                    <i  class="fa fa-circle-o-notch fa-spin submitIcon"></i>
                    Register User </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
