<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">All Saccos</h3>
            <div class="box-tools pull-right">
                <a href="/customers/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Sacco Name</th>
                    <th>CSNO</th>
                    <th>Balance Amount</th>
                    <th>Airtime Balance</th>
                    <th>Date Updated</th>
                </tr>
<!--                <tr th:each="row : ${list}">-->
<!--                    <td th:text="${row.id}"></td>-->
<!--                    <td th:text="${row.firstname + ' ' + row.lastname}"></td>-->
<!--                    <td th:text="${row.email}"></td>-->
<!--                    <td th:text="${#dates.format(row.addedDate, 'dd/MM/yyyy')}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="${'/customers/edit/' + row.id}">edit</a> - -->
<!--                        <a th:href="${'/customers/delete/' + row.id}">delete</a>-->
<!--                    </td>-->
<!--                </tr>-->
            </table>
        </div>
<!--        <div class="box-footer clearfix">-->
<!--            <ul class="pagination pagination-sm no-margin pull-right">-->
<!--                <li><a href="/customers/1">Previous</a></li>-->
<!--                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">-->
<!--                    <a th:href="${'/customers/' + p}" th:text="${p}"></a>-->
<!--                </li>-->
<!--                <li><a th:href="${'/customers/' + endIndex}">Next</a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>